VITE_LIVEKIT_URL=wss://dip-demo-l98eoxc5.livekit.cloud
VITE_TOKEN_ENDPOINT=http://localhost:3001/getToken

LIVEKIT_API_KEY=APIkjdbTrkBBNaC
LIVEKIT_API_SECRET=3wkwM2wgMxyVo53GuwobzeH8Di8FZ4qTJenOTWHbN68
PORT=3001
